---
import mapleTheme from '@/assets/maple-dark-color-theme.json'
import { Button } from '@/components/ui/button'
import { useFeatureTranslation } from '@/locales/i18n'
import { isDEV } from '@/utils/constant'
import { normalFeatureArray } from '@data/features/features'
import { Code } from 'astro:components'

import SubSectionTitle from './part/sub-section-title.astro'

const {
  buttonText,
  link,
  description,
  title,
  normal,
} = await useFeatureTranslation(Astro.currentLocale, 'custom')

const [first, second] = normal.description.split('@')

const data = {
  title,
  description,
  icon: 'lucide:hammer',
} as const

const code = `{
  "$schema": "./source/schema.json",
  "family_name": "Maple Mono",
  "use_hinted": true,
  "pool_size": 4,
  "ligature": true,
  "feature_freeze": {
    // ...
  }
}`

const normalCode = `class Example {
    private name: string;

    @Log
    public query(value: string): void {
        const localVariable = \`Hello, \${this.name}! Query -> \${value}\`;
        console.log(localVariable, 0x2312);
    }
}`

const locale = Astro.currentLocale
const baseUrl = isDEV ? `/${locale}` : `${Astro.site}${locale}`
const playgroundLink = `${baseUrl}/playground?normal`
---

<SubSectionTitle icon={data.icon} title={data.title}>
  <div class="grid gap-4 md:(grid-cols-2 items-center gap-8)">
    <Code
      code={code}
      theme={mapleTheme as any}
      lang="jsonc"
      class="rounded-lg p-4 text-3.5 inview-1 sm:rounded-2xl sm:text-4"
    />
    <div class="flex flex-col gap-8 *:w-fit inview-2">
      <p class="text-4 leading-relaxed md:text-5">
        {data.description}
      </p>
      <Button
        as="a"
        variant="secondary"
        href={link}
        target="_blank"
      >
        {buttonText}
      </Button>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    <div class="c-accent inview-1">{normal.title}</div>
    <div class="inview-1">
      {first}
      <span class="text-primary underline decoration-dashed font-bold">Maple Mono Normal</span>
      {second}
    </div>
    <div class="c-note inview-1">{normal.enable}:</div>
    <Code
      code={`"${normalFeatureArray.join('", "')}"`}
      class="rounded-lg p-4 pb-2 text-3.5 inview-2 sm:rounded-2xl sm:text-4"
    />
    <div class="c-note inview-3">
      {normal.preview}
      or
      <Button
        as="a"
        href={playgroundLink}
        variant="outline"
      >
        {normal.testInPlayground}
      </Button>
    </div>
    <Code
      code={normalCode}
      theme={mapleTheme as any}
      style={normalFeatureArray.map(f => `--feat-${f}:1`).join(';')}
      lang="typescript"
      class="rounded-lg p-4 text-3.5 inview-4 sm:rounded-2xl sm:text-4"
    />
  </div>
</SubSectionTitle>
