---
import { Code } from 'astro:components'

import mapleTheme from '../../assets/maple-dark-color-theme.json'
import { Button } from '../../components/ui/button'
import SubSectionTitle from './part/sub-section-title.astro'

const data = {
  title: 'Your favor, Your Font',
  description:
    'Configure or freeze OpenType features as you want, create your own perfect font',
  icon: 'i-lucide-hammer',
}

const code = `{
  "$schema": "./source/schema.json",
  "family_name": "Maple Mono",
  "use_hinted": true,
  "pool_size": 4,
  "ligature": true,
  "feature_freeze": {
    // ...
  }
}`

const nextButtonData = {
  name: 'See Guide',
  href: 'https://github.com/subframe7536/maple-font#custom-build',
}
---

<SubSectionTitle icon={data.icon} title={data.title}>
  <div class="grid gap-4 md:(grid-cols-2 items-center gap-8)">
    <Code
      code={code}
      theme={mapleTheme as any}
      lang="jsonc"
      class="rounded-2xl p-4 text-3.5 inview-1 sm:text-4"
    />
    <div class="flex flex-col gap-8 *:w-fit inview-2">
      <p class="text-4 leading-relaxed md:text-5">
        {data.description}
      </p>
      <!-- todo)) -->
      <Button as="a" href={nextButtonData.href} target="_blank">
        {nextButtonData.name}
      </Button>
    </div>
  </div>
</SubSectionTitle>
