---
import Section from '@/components/section.astro'
import { Button } from '@/components/ui/button'
import { useIndexTranslation } from '@/utils/i18n'

import Title from './title'

const {
  description,
  learnMoreText,
  slogan,
  tryItText,
} = await useIndexTranslation(Astro.currentLocale, 'hero')
const [beforeFont, afterFont] = description.split('Maple Mono')

const locale = Astro.currentLocale
const playgroundLink = `/${locale}/playground`
---

<Section
  id="hero"
  class="h-screen min-h-180 flex flex-col justify-center gap-2 xl:gap-4"
>
  <Title slogan={slogan} client:load />
  <p class="mt-4 py-4 text-4 leading-relaxed text-shadow-(sm color-input) md:text-5 xs:leading-[1.875]">
    {beforeFont}<span class="font-(italic 500)">Maple Mono</span>{afterFont}
  </p>
  <div class="mt-6 flex flex-wrap items-center justify-start gap-6">
    <Button as="a" href="#why" size="lg">
      {learnMoreText}
      <div class="i-lucide-arrow-down ml-2" />
    </Button>
    <Button as="a" size="lg" href={playgroundLink} variant="outline">
      {tryItText}
      <div class="i-lucide-arrow-right ml-2" />
    </Button>
  </div>
</Section>
