---
import { getLocalePaths, LOCALES } from '@/locales/i18n'
import { DEFAULT_LOCALE, LOCALES_SETTING } from '@/utils/constant'

const baseUrl = import.meta.env.PROD ? Astro.site : '/'
const defaultLocale = DEFAULT_LOCALE

const meta = {
  author: 'subframe7536',
  site_name: 'Maple Mono',
  title: 'Maple Mono: Open source monospace font',
  description: 'Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.',
  image: 'https://repository-images.githubusercontent.com/479451389/00c67e39-1c75-43d6-8e0e-b0b831c0cb85',
}
---

<html lang={DEFAULT_LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <link rel="canonical" href={Astro.site?.origin + Astro.url.pathname} />
    <meta name="author" content={meta.author} />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="monospace font, programming font, coding font, ligatures, nerd font, IDE font, terminal font, open source font" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    {
      getLocalePaths(Astro.url).map(props => (
        <link
          rel="alternate"
          hreflang={LOCALES_SETTING[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }

    <!-- icon -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <meta name="color-scheme" content="dark" />

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={meta.title} />
    <meta property="og:site_name" content={meta.site_name} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:image" content={meta.image} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content={DEFAULT_LOCALE} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={meta.site_name} />
    <meta name="twitter:image" content={meta.image} />
    <meta name="twitter:title" content={meta.title} />
    <meta name="twitter:description" content={meta.description} />

    <noscript>
      <meta
        http-equiv="refresh"
        content={`0;url=${baseUrl + DEFAULT_LOCALE}/`}
      />
    </noscript>

    <script is:inline define:vars={{ LOCALES, baseUrl, defaultLocale }}>
      const browserLang = navigator.language.toLowerCase()
      if (LOCALES.includes(browserLang)) {
        location.href = `${baseUrl + browserLang}/`
      } else if (LOCALES.includes(browserLang.split('-')[0])) {
        location.href = `${baseUrl + browserLang.split('-')[0]}/`
      } else {
        location.href = `${baseUrl + defaultLocale}/`
      }
    </script>
  </head>
  <body>
    <h1>redirect...</h1>
  </body>
</html>
