---
interface Props {
  content: string
  author: string
  platform: 'twitter' | 'discord' | 'v2ex' | 'github'
  date: string
}

const { content, author, platform, date } = Astro.props

const platformIcons = {
  twitter: 'i-lucide-twitter',
  discord: 'i-lucide-message-circle',
  v2ex: 'i-lucide-message-square',
  github: 'i-lucide-github',
}

const platformColors = {
  twitter: 'bg-blue-800 border-blue-900',
  discord: 'bg-indigo-800 border-indigo-900',
  v2ex: 'bg-gray-800 border-gray-900',
  github: 'bg-purple-800 border-purple-900',
}
---

<div class={`p-6 rounded-xl b-2 ${platformColors[platform]} hover:scale-102 transition-transform`}>
  <div class="mb-4 flex items-center gap-2">
    <div class={`${platformIcons[platform]} text-xl`}></div>
    <span class="font-medium">{author}</span>
    <span class="ml-auto text-sm text-foreground">{date}</span>
  </div>
  <p class="text-foreground/80">{content}</p>
</div>
