---
import type { FontFeatureItem } from '@/sections/playground'

import featBasic from '@data/features/basic.json'
import featCN from '@data/features/cn.json'
import featCV from '@data/features/cv.json'
import featItalic from '@data/features/italic.json'
import featSS from '@data/features/ss.json'

import Layout from '@/layouts/Layout.astro'
import { useNavTranslation, usePlaygroundTranslation } from '@/locales/i18n'
import Nav from '@/sections/nav.astro'
import PlaygroundArea from '@/sections/playground'
import { isDEV } from '@/utils/constant'

export { getStaticPaths } from '@/locales/i18n'

const { description, ...rest } = await usePlaygroundTranslation(Astro.currentLocale)
const { titles } = await useNavTranslation(Astro.currentLocale)

function parseFeature(config: Record<string, Record<string, string>>): FontFeatureItem[] {
  const result: FontFeatureItem[] = []
  for (const [version, record] of Object.entries(config)) {
    for (const [feat, text] of Object.entries(record)) {
      result.push({
        feat,
        text,
        desc: description[feat as keyof typeof description] || 'Undocumented',
        version,
      })
    }
  }
  return result
}

const locale = Astro.currentLocale
const baseUrl = isDEV ? `/${locale}` : `${Astro.site}${locale}`
const downloadLink = `${baseUrl}/download`

const defaultText = [
  'Maple Mono, smooth your coding flow',
  'abcdefghijklmnopqrstuvwxyz',
  '~!@#$%^&* {} [] () I1l O0o',
  '!== \\\\ <= #{ -> ~@ |> 0x12',
  '|=>==<==>=|======|===|===>',
  '[INFO] todo)) fixme))',
  'Input your text here.',
].join('\n\n')

// reference from https://lilex.myrt.co/
---

<Layout title={`${titles.playground} | Maple Mono`}>
  <Nav title="playground" />
  <div class="h-screen w-full pt-8">
    <PlaygroundArea
      features={{
        basic: parseFeature(featBasic),
        cv: parseFeature(featCV),
        italic: parseFeature(featItalic),
        cn: parseFeature(featCN),
        ss: parseFeature(featSS),
      }}
      sizeRange={[12, 96]}
      weightRange={[100, 800]}
      defaultText={defaultText}
      t={rest}
      downloadURL={downloadLink}
      client:load
    />
  </div>
</Layout>
