---
import { Button } from '@/components/ui/button'
import { isDEV } from '@/utils/constant'
import { useNavTranslation } from '@/utils/i18n'

interface Props {
  isMain?: boolean
}

const props = Astro.props
const baseUrl = isDEV ? '/' : Astro.site

const {
  credits,
  download,
  features,
  usage,
  why,
  playground,
} = await useNavTranslation(Astro.currentLocale)

const navigatorText = [
  ['#why', why],
  ['#features', features],
  ['#credits', credits],
] as const

const pageText = {
  usage,
  download,
}

const locale = Astro.currentLocale
const playgroundLink = `${baseUrl}/${locale}/playground`
---

<nav
  class="fixed z-999 w-full flex items-center bg-background/50 p-2 backdrop-blur-lg"
>
  <img
    src="/favicon.svg"
    alt="Maple Mono Icon"
    class="h-6 cursor-pointer hover:scale-110"
    onclick={`window.location='${baseUrl}'`}
  />
  <div class="ml-2 w-full flex justify-end sm:justify-between">
    <div
      class="hidden select-none items-center sm:flex"
    >
      {props.isMain
        ? navigatorText.map(([anchor, text]) => (
            <Button
              size="sm"
              variant="link"
              as="a"
              href={anchor}
              aria-label={text}
            >
              {text}
            </Button>
          ))
        : <div class="ml-2 c-accent font-bold">{playground}</div>}
    </div>
    <div class="flex items-center gap-4">
      <Button
        size="sm"
        as="a"
        class="m-r--2"
        variant="link"
        href="https://github.com/subframe7536/maple-font"
        target="_blank"
        title="GitHub"
        aria-label="GitHub"
      >
        <div class="i-lucide-github mr-2 size-4" />
        GitHub
      </Button>
      <Button
        size="sm"
        variant="link"
        as="a"
        href="/how"
      >
        {pageText.usage}
      </Button>
      <Button size="sm" as="a" href={playgroundLink}>
        {pageText.download}
      </Button
      >
    </div>
  </div>
</nav>
